.nav-tabs .nav-link {
  color: black;
}
.nav-tabs .nav-link:not(.active):hover {
  color: white;
}

.nav-tabs .nav-link:hover {
  background-color: #0a58ca;
  color: white;
}

.allocations table tr {
  cursor: pointer;
}
